# Raw and final data
pdbs/
data/
results/

# slurm scripts for parallelization of tasks
slurm/

# Compiled objects
src/bin/
src/objs/

# CLion
.idea/
cmake-build-debug/
CMakeLists.txt

# Virtual env
wvenv/
venv/

# Project exclude paths
/cmake-build-debug-wsl/
